@import '../../../assets/styles/variables';

.button {
    padding: 0;

    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;

    color: rgba($color-white, 0.5);

    &_highlighted,
    &:hover {
        color: $color-white;
    }
}

.iconBox {
    position: relative;

    display: block;
    padding: 0.5em 0;
    width: 2.25em;

    font-size: 1.125rem;
    line-height: 1;
    text-align: center;

    @media screen and (min-width: 60em) {
        padding: 0.75em 0;
    }

    .button_showIndicator > &:after {
        content: "";

        position: absolute;
        right: 0.2em;
        top: 50%;

        display: block;
        height: 0.5em;
        margin-top: -0.75em;
        width: 0.5em;

        background: $color-persimmon;
        border-radius: 50%;
    }
}

.icon {
    line-height: 1;
    text-align: center;
}
