@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.container {
    left: 0;
    bottom: 0;
    position: fixed;
    right: 0;
    // Keep the top property in sync with the height of the header!
    top: 3.5em;

    transition: visibility 0.2s step-start 0.2s;
    visibility: hidden;

    @media screen and (min-width: 48em) {
        top: 4em;
    }

    &_expanded {
        transition-delay: 0s;
        visibility: visible;
    }
}

.list {
    height: 0;
    padding: 0 1em;

    overflow-y: auto;

    background: $color-mine-shaft;

    transition: height 0.2s linear;

    .container_expanded > & {
        height: 100%;
    }
}

.item {
    border-top: 1px solid rgba($color-white, 0.25);

    &:last-child {
        border-bottom: 1px solid rgba($color-white, 0.25);
    }
}

.link {
    align-items: center;
    display: flex;
    padding: 1em 0;
    width: 100%;

    color: rgba($color-white, 0.5);
    font-family: $font-family-default;
    font-size: 0.875rem;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;

    background: transparent;
    cursor: pointer;
    border: 0;

    &:hover {
        color: rgba($color-white, 1);
    }

    @include focus-utility() {
        outline: 2px solid $color-persimmon;
    }

    &_profile {
        padding: 0.725em 0;
    }
}

.itemIcon {
    margin-right: 0.5em;
}

.profileImage {
    margin-right: 0.5em;
}