@import "../../../assets/styles/variables";

.container {
    padding-bottom: 6em;
    padding-top: 4.375em;
}

.inner {
    margin: 0 auto;
    max-width: 44em;
    padding: 0 1em;
}

.img {
    display: block;
    max-width: 100%;
}
