@import "../../../assets/styles/variables";
@import '../../../assets/styles/mixins';

.container {
    padding: 0.25em;

    background: $color-white;
    border: 1px solid $color-mercury;
    border-radius: 0.25em;
    outline: 0;

    &:focus-within {
        .overlay {
            opacity: 1;

            > .overlayContent {
                transform: translateY(0);
            }
        }
    }

    @include focus-utility() {
        .overlay {
            opacity: 1;

            > .overlayContent {
                transform: translateY(0);
            }
        }
    }
}

.inner {
    position: relative;
}

.img {
    display: block;
    max-width: 100%;

    border-radius: 0.25em;
}

.overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    background: rgba($color-persimmon, 0.8);
    border-radius: 0.25em;
    opacity: 0;

    transition: opacity 0.25s linear;

    &:hover {
        opacity: 1;
    }
}

.overlayContent {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;

    transform: translateY(2em);
    transition: transform 0.25s linear;
    
    .overlay:hover > & {
        transform: translateY(0);
    }
}

.title {
    margin-top: 0.7em;

    color: $color-white;
    font-size: 0.875rem;
    line-height: 1.7;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}

.socialLink {
    display: block;
    padding: 0.75em;

    color: $color-white;
    text-decoration: none;

    &:hover {
        opacity: 0.5;
    }

    @include focus-utility() {
        outline: 2px solid $color-white;
    }
}