@import '../../../assets/styles/variables';

.entry {
    align-items: center;
    display: flex;
}

.userName {
    max-width: 12em;
    overflow: hidden;

    color: $color-cod-gray;
    font-size: 0.75em;
    font-weight: $font-weight-medium;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.acceptBtn {
    position: relative;
    z-index: 1;

    margin-left: auto;
}
