@import '../../../assets/styles/variables';

.entry {
    font-size: 0.75rem;
    line-height: 1.6667;
}

.entryTitle {
    display: inline;

    color: $color-cod-gray;
    font-weight: $font-weight-medium;
}

.entryDesc {
    display: inline;
    
    color: $color-empress;
}

.time {
    float: right;
    margin-left: 1.5em;
}
