@import "../../../assets/styles/variables";

.container {
    color: $color-empress;
    font-family: $font-family-text;
    font-size: 0.875rem;
    line-height: 1.7;

    * + * {
        margin-top: 1em;
    }
}