@import "../../../assets/styles/variables";

.title {
    margin-bottom: 2.5em;

    font-size: 1.125rem;
    font-weight: $font-weight-bold;
    text-align: center;
}

.field {
    margin-top: 1.875em;
}

.submitButton {
    margin-top: 2.85em;
    width: 100%;
}

.bottomText {
    margin-top: 2.85em;

    color: $color-empress;
    font-size: 0.875rem;
    line-height: 1.7;
    text-align: center;
}
