@import '../../../assets/styles/variables';

.header {
    background: $color-mine-shaft;
}

.inner {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 75em;
    padding: 0 1em;
}

.logo {
    margin: 1.325em 0;
}

.menu {
    margin-left: 2em;
}

.newEventBtn {
    margin-left: 2em;
}

.actions {
    display: flex;
    margin-left: 0.5em;
}

.action {
    margin-left: 0.2em;
}

.user {
    margin-left: 0.875em;
}

.search {
    display: block;
    margin-left: auto;
    padding: 1.825em 0.575em 1.7em;

    color: $color-white;
    font-size: 1.125rem;
}

.searchIcon {
    display: block;

    line-height: 1;

    opacity: 0.5;

    transition: color 0.2s linear;

    .search:hover > &,
    .search:focus > & {
        opacity: 1;
    }
}