@import '../../../assets/styles/variables';

.panel {
    min-width: 17.25em;
    overflow: hidden;

    background: $color-white;
    border-radius: 0 0 0.2em 0.2em;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 0.75em;

    border-bottom: 1px solid $color-mercury;
}

.action {
    display: block;
    padding: 0.6em;

    color: $color-empress;
    font-family: $font-family-default;
    font-size: 0.75rem;
    text-decoration: none;

    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;

    transition: color 0.2s linear;

    &:hover {
        color: $color-shark;
    }
}

.emptyText {
    padding: 1em 1.6em;

    font-size: 0.75em;
}

.viewAll {
    width: 100%;
}

.entry {
    position: relative;

    align-items: center;
    display: flex;
    padding: 1.25em;

    background: $color-white;

    transition: background-color 0.2s linear;

    & + & {
        border-top: 1px solid $color-mercury;
    }

    &:hover {
        background: $color-alabaster;
    }
}

.entryInner {
    flex: 1 1;
    margin-left: 0.75em;
}

.entryLink {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    display: block;
    overflow: hidden;

    text-indent: -100em;
}
