@import "../../../assets/styles/variables";

.header {
    padding: 1.875em 5vw 2.75em;

    color: $color-white;

    background: {
        color: $color-tundora;
    }

    @media screen and (min-width: 30em) {
        padding: 1.875em 1.875em 2.75em;
    }
}

.title {
    margin-top: 1.75em;

    font-size: 1.25rem;
    font-weight: $font-weight-bold;

    @media screen and (min-width: 30em) {
        font-size: 1.5rem;
    }

    @media screen and (min-width: 60em) {
        margin-top: 3.125em;
    }
}

.text {
    margin-top: 1em;

    font-size: 0.875rem;
    line-height: 1.7;
}

.image {
    display: none;

    @media screen and (min-width: 52em) {
        display: block;
        margin: 3.5em auto 0;
        max-width: 100%;
    }
}
