@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.group {
    position: relative;
}

.label {
    &_hidden {
        @include visually-hidden();
    }
}

.error {
    left: 0;
    position: absolute;
    top: 100%;

    display: block;
    margin-top: 0.4em;
    max-width: 100%;

    color: $color-cardinal;
    font-size: 0.75rem;
}
