@import '../../../assets/styles/variables';

.toggle {
    display: block;
    padding: 0.5em 0;
    width: 1.5em;

    color: $color-white;
    font-size: 1.125rem;
    text-align: center;

    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
}

.toggleIcon {
    display: inline-block;

    line-height: 1;

    opacity: 0.5;

    transition: color 0.2s linear;

    .toggle:hover > & {
        opacity: 1;
    }
}

.container {
    left: 0;
    bottom: 0;
    position: fixed;
    right: 0;
    // Keep the top property in sync with the height of the header!
    top: 3.5em;

    transition: visibility 0.2s step-start 0.2s;
    visibility: hidden;

    @media screen and (min-width: 48em) {
        top: 4em;
    }

    &_expanded {
        transition-delay: 0s;
        visibility: visible;
    }
}

.list {
    height: 0;
    padding: 0 1em;

    overflow-y: auto;

    background: $color-mine-shaft;

    transition: height 0.2s linear;

    .container_expanded > & {
        height: 100%;
    }
}

.item {
    border-top: 1px solid rgba($color-white, 0.25);

    &:last-child {
        border-bottom: 1px solid rgba($color-white, 0.25);
    }
}

.link {
    align-items: center;
    display: flex;
    padding: 1em 0;
    width: 100%;

    color: $color-white;
    font-family: $font-family-default;
    font-size: 0.875rem;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;

    background: transparent;
    cursor: pointer;
    border: 0;
    opacity: 0.5;

    transition: opacity 0.2s linear;

    &:hover {
        opacity: 1;
    }

    &_profile {
        padding: 0.725em 0;
    }
}

.itemIcon {
    margin-right: 0.5em;
}

.profileImage {
    margin-right: 0.5em;
}