@import '../../../assets/styles/variables';

.toggle {
    position: relative;

    display: block;
    padding: 1.825em 0.575em 1.7em;

    color: $color-white;
    font-size: 1.125rem;

    &_indicated:after {
        content: "";

        position: absolute;
        right: 0.25em;
        top: 1.5em;

        display: block;
        height: 0.5em;
        width: 0.5em;

        background: $color-persimmon;
        border-radius: 50%;
    }
}

.toggleIcon {
    display: block;
    width: 1.25em;

    line-height: 1;
    text-align: center;

    opacity: 0.5;

    transition: color 0.2s linear;

    .toggle_active > &,
    .toggle:hover > &,
    .toggle:focus > & {
        opacity: 1;
    }
}
