.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    padding-top: 3.5em;

    @media screen and (min-width: 48em) {
        padding-top: 4em;
    }

    @media screen and (min-width: 60em) {
        padding-top: 4.75em;
    }
}

.footer {
    margin-top: auto;
}
