@import '../../../assets/styles/variables';

.entry {
    font-size: 0.75rem;
}

.userName {
    max-width: 15em;
    overflow: hidden;

    color: $color-cod-gray;
    font-weight: $font-weight-medium;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.entryContent {
    display: flex;
    margin-top: 0.5em;
}

.message {
    max-width: 9em;
    overflow: hidden;
    
    color: $color-empress;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.time {
    margin-left: auto;
}
