@font-face {
    font-family: 'Metropolis';
    font-weight: $font-weight-regular;
    font-display: swap;
    src: local('Metropolis Regular'),
         local('Metropolis-Regular'),
         url('../fonts/Metropolis-Regular.woff2') format('woff2'),
         url('../fonts/Metropolis-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis';
    font-weight: $font-weight-medium;
    font-display: swap;
    src: local('Metropolis Medium'),
         local('Metropolis-Medium'),
         url('../fonts/Metropolis-Medium.woff2') format('woff2'),
         url('../fonts/Metropolis-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis';
    font-weight: $font-weight-semibold;
    font-display: swap;
    src: local('Metropolis SemiBold'),
         local('Metropolis-SemiBold'),
         url('../fonts/Metropolis-SemiBold.woff2') format('woff2'),
         url('../fonts/Metropolis-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis';
    font-weight: $font-weight-bold;
    font-display: swap;
    src: local('Metropolis Bold'),
         local('Metropolis-Bold'),
         url('../fonts/Metropolis-Bold.woff2') format('woff2'),
         url('../fonts/Metropolis-Bold.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: $font-weight-regular;
    font-display: swap;
    src: local('OpenSans Regular'),
         local('OpenSans-Regular'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: $font-weight-regular;
    font-display: swap;
    font-style: italic;
    src: local('OpenSans Italic'),
         local('OpenSans-Italic'),
         url('../fonts/OpenSans-Italic.woff2') format('woff2'),
         url('../fonts/OpenSans-Italic.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: $font-weight-bold;
    font-display: swap;
    src: local('OpenSans Bold'),
         local('OpenSans-Bold'),
         url('../fonts/OpenSans-Bold.woff2') format('woff2'),
         url('../fonts/OpenSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: $font-weight-bold;
    font-display: swap;
    font-style: italic;
    src: local('OpenSans BoldItalic'),
         local('OpenSans-BoldItalic'),
         url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
         url('../fonts/OpenSans-BoldItalic.woff') format('woff');
}
