@import "../../../assets/styles/variables";

.page {
    @media screen and (min-width: 30em) {
        padding: 2em 0;
    }

    @media screen and (min-width: 52em) {
        min-height: 100vh;
        display: flex;
        padding: 3.25em 0;

        background-image: linear-gradient(
            to right,
            $color-mercury 50%,
            $color-seashell 50%,
        );
    }

    @media screen and (min-width: 70em) {
        padding: 4em 0;
    }
}

.inner {
    @media screen and (min-width: 30em) {
        padding: 0 1em;
        margin: auto;
        max-width: 40em;
    }

    @media screen and (min-width: 52em) {
        display: flex;
        max-width: 62em;
    }
}

.header,
.form {
    @media screen and (min-width: 52em) {
        flex: 0 0 auto;
        width: 50%;
    }
}