@import '../../../assets/styles/variables';

.icon {
    position: relative;

    display: block;
    padding: 1.825em 0 1.7em;
    width: 2.4em;

    color: $color-white;
    font-size: 1.125rem;
    line-height: 1;
    text-align: center;

    opacity: 0.5;

    transition: color 0.2s linear;

    &_showIndicator:after {
        content: "";

        position: absolute;
        right: 0.25em;
        top: 1.5em;

        display: block;
        height: 0.5em;
        width: 0.5em;

        background: $color-persimmon;
        border-radius: 50%;
    }

    &_highlighted,
    &:hover,
    &:focus {
        opacity: 1;
    }
}
