@import "../../../assets/styles/variables";

.form {
    padding: 2em 5vw;

    background: $color-white;

    @media screen and (min-width: 30em) {
        padding: 3.125em;
    }

    @media screen and (min-width: 52em) {
        align-items: center;
        display: flex;
        padding: 2em 1.875em;
    }

    @media screen and (min-width: 60em) {
        padding: 3.125em;
    }
}

.formInner {
    width: 100%;
}

.title {
    margin-bottom: 2.5em;

    font-size: 1.125rem;
    font-weight: $font-weight-bold;
    text-align: center;
}

.socialButton {
    & + & {
        margin-top: 1.4em;
    }
}

.or {
    align-items: center;
    display: flex;
    margin: 1.85em 0;

    color: $color-empress;
    font-size: 0.875rem;

    &:before,
    &:after {
        content: "";

        display: block;
        flex: 1 1;
        height: 1px;

        background: $color-mercury;
    }

    &:before {
        margin-right: 1.35em;
    }

    &:after {
        margin-left: 1.35em;
    }
}

.field {
    position: relative;

    margin-top: 1.875em;
}

.fieldError {
    left: 0;
    position: absolute;
    top: 100%;

    display: block;
    margin-top: 0.4em;
    max-width: 100%;

    color: $color-cardinal;
    font-size: 0.75rem;

    .checkboxLabel + & {
        margin-top: 0;
    }
}

.checkbox {
    position: relative;
    
    margin-top: 2.15em;

    font-size: 0.875rem;
    line-height: 1.7;
}

.checkboxLabel {
    padding-left: 0.65em;

    color: $color-empress;
}

.submit {
    margin-top: 2.85em;
    width: 100%;
}

.callout {
    margin-top: 2.85em;

    color: $color-empress;
    font-size: 0.875rem;
    line-height: 1.7;
    text-align: center;
}
