@import '../../../assets/styles/variables';

.toggle {
    align-items: center;
    display: flex;
    padding: 1.75em 1.25em;

    color: rgba($color-white, 0.5);

    &_expanded,
    &:focus,
    &:hover {
        color: $color-white;
    }
}

.greeting {
    margin-left: 1em;

    
    font-family: $font-family-default;
    font-size: 0.875rem;

    transition: all 0.2s linear;
}

.arrow {
    margin-left: 0.85em;
}
