@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.input {
    @include visually-hidden();
}

.square {
    position: relative;
    top: 0.05em;

    display: inline-block;

    color: $color-persimmon;

    cursor: pointer;

    transition: color 0.2s linear;

    &:hover {
        color: $color-mine-shaft;
    }
}

.icon {
    display: inline-block;

    .input:checked + .square > & {
        display: none;
    }

    &_checked {
        display: none;

        .input:checked + .square > & {
            display: inline-block;
        }
    }
}
