@import "../../../assets/styles/variables";
@import '../../../assets/styles/mixins';

@mixin button-theme($name, $bg-color) {
    &_theme_#{$name} {
        background: $bg-color;

        &:hover {
            background: darken($bg-color, 15%);
        }

        @include focus-utility() {
            box-shadow: 0 0 0 0.25em rgba($bg-color, 0.5);
        }
    }
}

.button {
    align-items: center;
    display: inline-flex;
    justify-content: center;

    color: $color-white;
    font-family: $font-family-default;
    font-size: 0.875rem;
    font-weight: $font-weight-medium;
    line-height: 1.2;
    text-decoration: none;

    border: 0;
    border-radius: 0.2em;
    cursor: pointer;
    outline: 0;

    transition: background-color 0.2s linear;

    @include button-theme(default, $color-persimmon);
    @include button-theme(facebook, $color-chambray);
    @include button-theme(github, $color-shark);
    @include button-theme(google, $color-cinnabar);

    &:disabled {
        pointer-events: none;
    }

    &_size_sm {
        padding: 0.9em 1.25em;

        font-size: 0.625em;
    }

    &_size_md {
        padding: 0.825em 1.25em;
    }

    &_size_lg {
        padding: 1.125em 1.375em ;
    }

    &_sharpTop {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.icon {
    margin-right: 1.25em;

    .button_animateSpinner & {
        animation: spinner 1s infinite linear;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}