@import '../../../styles/variables';

.input {
    display: block;
    padding: 1em 1.5em;
    width: 100%;

    color: $color-empress;
    font-family: $font-family-default;
    font-size: 0.75rem;
    line-height: 1.2;

    background: $color-white;
    border: 1px solid $color-mercury;
    border-radius: 0.25em;

    &_invalid {
        border-color: $color-cardinal;
    }

    &:focus {
        border-color: $color-dodger-blue;
        box-shadow: 0 0 0 0.2em rgba($color-dodger-blue, 0.3);
    }
}
