@import '../../../assets/styles/variables';

.container {
    position: relative;

    align-items: center;
    display: flex;
    padding: 1.25em;

    background: $color-white;

    transition: background-color 0.2s linear;

    & + & {
        border-top: 1px solid $color-mercury;
    }

    &:hover {
        background: $color-alabaster;
    }
}

.name {
    margin-left: 0.875em;
    max-width: 12em;
    overflow: hidden;

    color: $color-cod-gray;
    font-size: 0.75em;
    font-weight: $font-weight-medium;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profileLink {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    display: block;
    overflow: hidden;

    text-indent: -100em;
}

.btn {
    position: relative;

    margin-left: auto;
}
