@import '../../../assets/styles/variables';

.dropdown {
    position: relative;
}

.popup {
    position: absolute;
    right: -0.625em;
    top: 100%;

    min-width: 10.625em;

    box-shadow: 0 -3px 1.125em rgba($color-black, 0.18);
    opacity: 0;

    transform: translateY(1.5em);
    visibility: hidden;

    &:before {
        content: "";

        top: -0.625em;
        position: absolute;
        right: 1.625em;

        display: block;

        border: {
            top: 0;
            right: 0.3125em solid transparent;
            bottom: 0.625em solid $color-alabaster;
            left: 0.3125em solid transparent;
        }
    }

    &_state_enter {
        opacity: 0;

        transform: translateY(1.5em);
        visibility: hidden;
    }

    &_state_enterActive {
        opacity: 1;

        transform: translateY(0.5em);
        transition: opacity 0.2s linear,
                    transform 0.2s linear;
        visibility: visible;
    }

    &_state_enterDone {
        opacity: 1;

        transform: translateY(0.5em);
        visibility: visible;
    }

    &_state_exit {
        opacity: 1;

        transform: translateY(0.5em);
        visibility: visible;
    }

    &_state_exitActive {
        opacity: 0;

        transform: translateY(1.5em);
        transition: opacity 0.2s linear,
                    transform 0.2s linear;
        visibility: visible;
    }

    &_state_exitDone {
        opacity: 0;

        transform: translateY(1.5em);
        visibility: hidden;
    }
}
