@import '../../../styles/variables';

.toggle {
    align-items: center;
    display: flex;
    padding: 2em 1.2em;

    color: rgba($color-white, 0.5);
    font-family: $font-family-default;
    font-size: 0.875rem;

    transition: all 0.2s linear;

    .accountMenu_expanded > &,
    &:hover {
        color: $color-white;
    }
}

.arrow {
    margin-left: 0.85em;

    transition: color 0.2s linear;
}
