@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.list {
    display: flex;
}

.link {
    display: block;
    padding: 1.25em 1em;

    color: rgba($color-white, 0.5);
    font-size: 0.875rem;
    text-decoration: none;

    @media screen and (min-width: 75em) {
        padding-left: 1.4em;
        padding-right: 1.4em;
    }

    &:hover {
        color: rgba($color-white, 1);
    }

    @include focus-utility() {
        outline: 2px solid $color-persimmon;
    }
}
