@import '../../../assets/styles/variables';

.container {
    position: relative;

    align-items: center;
    display: flex;
    padding: 1.25em;

    background: $color-white;

    transition: background-color 0.2s linear;

    & + & {
        border-top: 1px solid $color-mercury;
    }

    &:hover {
        background: $color-alabaster;
    }
}

.body {
    flex: 1 1;
    margin-left: 0.875em;

    font-size: 0.75rem;
}

.name {
    max-width: 15em;
    overflow: hidden;

    color: $color-cod-gray;
    font-weight: $font-weight-medium;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bodyContent {
    display: flex;
    margin-top: 0.5em;
}

.message {
    max-width: 9em;
    overflow: hidden;
    
    color: $color-empress;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.time {
    margin-left: auto;
}

.conversationLink {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    display: block;
    overflow: hidden;

    text-indent: -100em;
}
